<!-- footer -->
<div class="row-fluid">
      <hr>
      <div class="footer">
        <p>&copy; <a href="http://www.dutchaug.org">GDG Dutch Android User Group</a> / <a href="http://www.gdgnl.org">GDG NL</a> 2013
          with help from <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </div>

    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
</div>
<!-- end footer -->
